<% include ../partials/header.ejs%>

<div class="container">
    <h1 id="newTitle">Edit Blog <%=post.title%></h1>
      <form  class="form-group" action="/blogs/<%=post._id%>?_method=PUT" method="POST">
        <div class="field">
        <Label id="title">Title:</Label>
        <input class="form-control" type="text"  name='blog[title]' value="<%=post.title%>" placeholder="enter the title">
        </div>  
        <br>
        <div class="field">
        <Label id="Image">Image URL:</Label>
        <input class="form-control" type="text" name='blog[image]' value="<%=post.image%>" placeholder="enter the image url">
        </div>
        <br>
        <div class="field">
        <Label id="Content">Content:</Label>
        <textarea class="form-control" name="blog[content]" cols="30" rows="10"><%=post.content%></textarea>
    
        <button class="btn btn-success">Publish</button>

      </form>
    
    
  </div> 

          <% include ../partials/footer.ejs%>