<%include ../partials/header%>

    <section class="detailed__view">
        
        <h1 class="post__title"><%=post.title%></h1>
        <img class="post__image" src="<%=post.image%>" alt="">
        <h2 class="post__content"><%=post.content%></h2>

        <footer class="button__bar">
            <a class="button button__edit" href="/blogs/<%=post._id%>/edit">Edit</a>
    
            <form action="/blogs/<%=post._id%>?_method=DELETE" method="POST">
                <button class="button button__delete">Delete</button>
            </form>

            <form action="/blogs/<%=post._id%>/comment/new">
                <button class="button button__comment">Add Comment</button>
            </form>

        </footer>

        <!-- Comments section  -->
        <section class="comments">
            
            <header>
                <h2 class="comments__head">Comments</h2>
            </header>
            <%post.comments.forEach(function(data){%>
                <div class="comments__body">
                    <div class="author__photo"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
                    <div class="comment">
                        <h3 class="comment__author"><%=data.author%></h3>
                        <p class="comment__content"><%=data.text%></p>
                    </div>
                </div>    
            <%})%>
            
        </section>


    </section>

    

<% include ../partials/footer%>