<% include ./partials/header.ejs%>

<div class="container pad1">
      <h1 class="form__caption">Edit Blog <%=post.title%></h1>
      <form class="form__container" action="/blogs/<%=post._id%>?_method=PUT" method="POST">
        <label class="form__edit__label">New Title</label>
        <input type="text"  name='blog[title]' value="<%=post.title%>">
        <label class="form__edit__label">New Image URL</label>
        <input type="text" name='blog[image]' value="<%=post.image%>">
        <label class="form__edit__label">New Content</label>
        <textarea name="blog[content]" cols="30" rows="10"><%=post.content%></textarea>
        <button class="form__button-submit"><i class="fas fa-chevron-circle-right"></i> Publish</button>

      </form>
  </div> 

          <% include ./partials/footer.ejs%>